/* Basic reset */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('static/1000_F_733640495_CzK3HMdjSStUetHvjydilz0IfAXB4n0W.jpg'); /* Add background image */
    background-size: cover; /* Cover the entire page */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent repeating the image */
}

.container {
    text-align: center;
    width: 20%;
    max-width: 600px; /* Set max-width for the container */
}

.box {
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
}

h1 {
    margin-bottom: 20px;
    background-color: gold;
}

form {
    margin-top: 20px;
    position: relative; /* For positioning the icons */
}

input {
    width: calc(100% - 40px); /* Adjust width to make space for the icons */
    padding: 8px 8px 8px 40px; /* Add padding for the icons on the left */
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* Ensure padding doesn't affect the width */
    text-align: center; /* Center the text, including placeholder */
    position: relative; /* Ensure proper positioning of icons */
}

.icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; /* Make sure the icon doesn’t block clicks */
    font-size: 20px; /* Adjust icon size if needed */
}

.mail-icon {
   right: 10px; /* Position mail icon on the left side */
}

.lock-icon {
   right: 10px; /* Position lock icon on the left side */
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}
